*{
    padding: 0;
    margin: 0;
}

.cardlogin{
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 20px;
    width: 368px;
    box-shadow: 0px 2px 2px #ccc;
    position: absolute;
    background-color: white;
    margin-left: 35%;
    margin-top: 15%;

 
}

.titlelogin{
    font-size: 18px;
    font-family: 'Nunito Sans',sans-serif;
    position: absolute;
    margin-left: 47%;
    margin-top: 12%;
}

.inplogin{
    min-width: 0;
    min-height: 0;
    width: 100%;
    font-family: inherit;
    background-color: transparent;
    line-height: 22px;
    border: 1px solid #eee;
    outline: none;
    height: auto;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.titlecard{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    display: inline-block;
    pointer-events: none;
    margin-bottom: 4px;
    font-family: 'Nunito Sans',sans-serif;
}

.buttonlogin{
    width: 100%;
    height: 40px;
    font-family: 'Nunito Sans',sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 20px;
    text-indent: initial;
    background-color: #348feb;
    border: none;
    border-radius: 8px;
    display: block;
    outline: none;
    position: relative;
    padding: 0 16px;
    transition: background-color 300ms;
    margin-top: 20px;
    margin-bottom: 16px;
}

.buttonlogin:hover {
    background-color: #9fd2fc;
  }

p{
    text-align: center;
    font-size: 14px;
    font-family: 'Nunito Sans',sans-serif;
}

 .myImage {
    width: 100%;
    height: 100%;
    background-image: url("../image/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
  } 